.list {
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    background: #fff;

    &__text {
      color: #000000;
      font-weight: 500;
      font-size: 1.6rem;
    }

    &:first-child {
      border-radius: 1rem 1rem 0 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #F1F1F1;
    }

    &-group {
      display: flex;
      align-items: center;
      gap: 3rem;

      @media screen and (max-width: 500px) {
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      & .delete {
        color: #FF0000;
      }

      & .change {
        color: #1390E5;
      }
    }

    &__btn {
      border: none;
      background: none;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}