.btn {
  padding: 1.4rem 2rem;
  border: none;
  border-radius: 1rem;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 400;

  &-primary {
    color: #fff;
    background: #1390E5;
  }

  &-cancel {
    color: #1390E5;
    border: 1px solid #1390E5;
  }
}