.results {
  &-header {
    margin-top: 1rem;

    &__title {
      font-size: 2.8rem;
      display: flex;
      align-items: center;
      color: #272727;
      font-weight: normal;
      margin-bottom: 1.2rem;

      @media screen and (max-width: 500px) {
        font-size: 1.8rem;
      }
    }
  }

  &-cards {
    margin-top: 4rem;

    .cards {
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: .5rem;
          color: #272727;

          span {
            color: rgba(23, 23, 25, 0.3);
          }

          @media screen and (max-width: 500px) {
            font-size: 1.2rem;
          }
        }

        &-icons {
          display: flex;
          align-items: center;
          gap: 1rem;

          svg {
            cursor: pointer;
          }
        }
      }

      &-container {
        margin-top: 2rem;

        display: flex;
        align-items: center;
        gap: 2rem;

        @media screen and (max-width: 900px) {
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
  }
}