.card {
  max-width: 24.5rem;
  width: 100%;

  &.grid {
    display: flex;
    max-width: 100%;
    width: 100%;
    gap: 3rem;
    margin-bottom: 3.2rem;
    width: 100%;

    .card {
      &__img {
        max-width: 15.7rem;
        height: 8.7rem;
        width: 100%;
        object-fit: cover;
        margin: 0;
      }

      &__title {
        font-size: 1.6rem;
      }

      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
      }

      &__subtitle {
        width: 100%;
        font-size: 1.4rem;
        color: rgba(23, 23, 25, 0.3);

        // width: 21rem;

        @media screen and (max-width: 500px) {
          width: 19rem
        }

        white-space: nowrap;
        overflow: none;
        // text-overflow: ellipsis;
      }
    }
  }

  &__img {
    margin-bottom: 0.8rem;
    height: 18.3rem;

    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    max-width: 100%;
  }

  cursor: pointer;

  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #272727;
    margin-bottom: 0.8rem;
    line-height: 1.6rem;

    height: 3.2rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 500px) {
      font-size: 1.4rem;
    }
  }

  &__subtitle {
    font-size: 1.4rem;
    color: rgba(23, 23, 25, 0.3);

    width: 21rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 500px) {
      font-size: 1.4rem;
    }
  }
}